.user-show-page-container {
    display: flex;
    margin: 45px 25%;
    border: 1px solid black;
}

.user-show-left-container {
    border: 1px solid black;
    width: 40%;
    padding: 0 8px;
    min-width: 240px;
}

.user-show-left-box {
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    padding: 24px;
    width: 240px;
}

.user-show-profile {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 20px 0;
    border: 1px solid black;
}

.user-show-left-upper-bullets {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
}

.user-show-left-upper-bullets i {
    margin-right: 8px;
}

.user-show-left-divider {
    margin: 32px 0;
    border: 1px solid #EBEBEB;
}

.user-show-left-lower-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 24px;
}

.user-show-left-lower-bullets {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
}

.user-show-left-lower-bullets i {
    margin-right: 8px;
}

.user-show-right-container {
    border: 1px solid black;
    width: 60%;
    margin: 0 60px
}

.user-show-right-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 8px;
}

.user-show-right-date {
    font-size: 13px;
    line-height: 18px;
    color: #717171;
    margin-bottom: 8px;
}

.user-show-right-about {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 48px;
}

.user-show-right-about h1 {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.user-show-right-description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
}

.user-show-right-bullets {
    margin-bottom: 16px
}

.user-show-right-bullets i {
    margin-right: 8px;
}