.listing-show-container {
    margin: 0 17%;
}

.listing-show-header-title-container {
    height: 90px;
    padding: 24px 0 0;
}

.listing-show-header-title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600
}

.listing-show-header-description {
    margin: 8px 0;
    font-weight: 400;
}

.listing-show-header-description i {
    font-size: 12px;
}

.listing-show-header-description span {
    margin-left: 3px;
    font-weight: 600;
    text-decoration: underline;
}

.listing-show-images-container {
    display: flex;
}

.listing-show-image-large-container {
    padding-right: 8px;
}

.listing-show-image-large {
    max-height: 560px;
    padding-right: 8px;
    width: 49.5%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.listing-show-image-small-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    width: 50%
}

.listing-show-image-small {
    height: 276px;
    width: 276px;
}

#image-2 {
    border-top-right-radius: 12px;
}

#image-4 {
    border-bottom-right-radius: 12px;
}

.listing-show-details-container {
    display: flex;
    border-bottom: 1px solid #DDDDDD;
}

.listing-show-details {
    width: 100%;
}

.listing-show-details-title-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 28px; 
    border-bottom: 1px solid #DDDDDD;
}

.listing-show-details-title h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 8px;
}

.listing-show-details-title h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.listing-show-details-title-image img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-right: 5px;
}

.listing-show-aircover {
    display: flex;
    flex-direction: column;
    padding: 32px 0 48px;
    line-height: 24px;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.listing-show-aircover img {
    height: 20%;
    width: 20%;
    margin-bottom: 16px;
}

.listing-show-details-description {
    padding: 32px 0 48px;
    line-height: 24px;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;

}

.listing-show-details-amenities {
    padding: 48px 0;
    /* border-bottom: 1px solid #DDDDDD; */
}

.listing-show-details-amenities h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    padding: 0 0 24px
}

.listing-show-details-amenities-list {
    display: grid;
    grid-template-columns: auto auto;
}

.listing-show-details-amenities-list-item {
    display: flex;
    align-items: center;
    padding: 0 0 16px;
    font-size: 16px;
}

.listing-show-details-amenities-list-item img {
    height: 26px;
    width: 26px;
    padding-right: 8px
}

.listing-show-reservations-container {
    /* border: 1px solid black; */
    width: 70%
}

.listing-show-map-container {
    padding: 48px 0;
}

.listing-show-map-container h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    padding: 0 0 24px
}

.listing-show-map-container h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 24px 0 16px;
}

.listing-show-reviews-container {
    border-bottom: 1px solid #DDDDDD;
}

.reviews-container h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    padding: 0 0 24px
}