.filtered-listings-index-filter-container {
    height: 90px;
    position: sticky;
    top: 81px;
    background-color: white;
}

.filtered-listings-container {
    display: flex;
    margin: 0 70px;
}

.filtered-listings-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -20px;
    width: 60%
}

.filtered-listings-none-message {
    font-size: 18px;
    font-weight: 500;
    color: rgb(113, 113, 113);
    margin-top: 20px
}

.filtered-listings-index-container {
    text-decoration: none;
    color: #222222;
    margin: 20px 11px;
}

.filtered-listings-index-image {
    object-fit: cover;
    height: 277px;
    width: 291px;
    border-radius: 10px;
}

.filtered-listings-index-description-container {
    font-size: 15px;
    line-height: 19px;
}

.filtered-listings-index-description {
    display: flex;
    justify-content: space-between;
}

.filtered-listings-index-location {
    font-weight: 600;
}

.filtered-listings-index-rating {
    display: flex;
    align-items: center;
}

.filtered-listings-index-rating i {
    font-size: 12px;
    margin-right: 4px
}

.filtered-listings-index-title {
    color: rgb(113, 113, 113);
}

.filtered-listings-index-price {
    margin-top: 8px;
}

.filtered-listings-index-price span {
    font-weight: 600;
}

.filtered-listings-map-container {
    width: 40%;
}

.filtered-listings-map {
    position: sticky;
    top: 171px;
}