.reviews-container h1 {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    padding: 0 0 24px

}

.reviews-container i {
    font-size: 14px;
    padding-right: 8px
}

.reviews-grid-ratings {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 24px
}

.reviews-grid-ratings-container {
    /* width: 41.6%; */
    margin-right: 8.33%;
}

.reviews-grid-ratings-content{
    display: flex;
    justify-content: space-between;
    /* margin-right: 80px; */
    /* max-width: 1120px; */
}

.reviews-grid-comments {
    display: grid;
    grid-template-columns: auto auto;
}

.reviews-grid-value {
    display: flex;
    margin-right: 8px;
    width: 100px;
    padding-bottom: 24px;
}

.reviews-grid-type h1{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.reviews-grid-rating-bar {
    background: rgb(221, 221, 221);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    margin-right: 4px;
}

.reviews-grid-rating-bar span {
    display: flex;
    align-items: center;
    background: #222222;
    border-radius: 2px;
}

.reviews-grid-ratings-average h1{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-left: 6px;
}

.review-author {
    display: flex;
    margin-bottom: 16px;
}

.review-author span {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.review-author h2 {
    color: #717171;
    font-size: 14px;
    font-weight: 400
}

.review-author img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.review-comment {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.review-content {
    margin-right: 10%;
    margin-bottom: 40px;
}