.reservations-index-container {
    margin: 0 17%;
}

.reservations-index-trip-title {
    font-size: 32px;
    font-weight: 600;
    margin: 26px 0;
}

.reservation-index-upcoming-reservations {
    font-size: 22px;
    font-weight: 400;
}

.reservation-container {
    display: flex;
    padding: 20px 0;
}

.reservation-detail-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid #DDDDDD;
}

.reservation-detail-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 90%;
    border-bottom: 1px solid #DDDDDD;
    margin-left: 5%
    
}

.reservation-detail-title h1 {
    font-size: 26px;
    font-weight: 600
}

.reservation-detail-title h2 {
    font-size: 16px;
    font-weight: 400
}

.reservation-detail-description {
    display: flex;
    height: 30%;
    margin: 5%
}

.reservation-detail-description-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #DDDDDD;
    padding: 0 5%;
    font-size: 16px;
    font-weight: 400
}

.reservation-detail-description-dates h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px
}

.reservation-detail-description-dates h2 {
    font-size: 16px;
    font-weight: 400
}

.reservation-detail-description-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%
}

.reservation-detail-description-location h1 {
    font-size: 20px;
    font-weight: 400
}

.reservation-detail-description-location h2 {
    font-size: 16px;
    font-weight: 400
}

.reservation-image {
    width: 30%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid #DDDDDD;
}