.nav-bar-container {
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
}

.nav-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    margin: 0 70px;
    /* border: 1px solid black; */
}

.logo-button {
    color: #ff385c;
    height: 80px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
}

.logo-button  i {
    font-size: 36px;
    padding-right: 5px;
}

.logo-button h1 {
    display: flex;
    align-items: center;
}