.nav-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
}

.logoButton {
    color: #ff385c;
    height: 80px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
}

.logoButton  i {
    font-size: 36px;
    padding-right: 5px;
}

.logoButton h1 {
    display: flex;
    align-items: center;
}